<%- include("header.ejs") %>
<div>
    <h3 class="t-center">Waste Manager</h3>
    <h3 class="t-center py-2">Green Bin</h3>
    <%- include("partials/table.ejs", { rows: rows, tableName: tableName }) %>

</div>
<%- include("footer.ejs") %>